<h1> <%= @billboard.title %></h1>
<%= new_billboard_song_path(@billboard) %>
<hr />
<h2> Songs </h2>
<h3> Top Pop Songs 2020 <br />
Let Me Reintroduce Myself <br />
YummyJustin Bieber •  <br />
Blinding Lights The Weeknd • <br />
Mad at Disneysalem ilese • <br />
Break My HeartDua Lipa • <br />
Please Excuse Me For Being Antisocial <br />
Rain On Me <br />
Say So 


</p>

