<nav>
  <ul>
    <li>
      <%= link_to "Billboard", billboards_path %>
    </li>
    <li>
    <%= link_to "Add billboard", new_billboard_path %>
  </li>
  <li>
    <%= link_to "Artists", artists_path %>
  </li>
  <li>
    <%= link_to "Add Artist", new_artist_path %>
  </li>
</ul>
</nav>